<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Buddy</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="index-container">
      <div class="text-container">
        <h1 class="main-header">Welcome to Task Buddy</h1>
        <p class="subheader">Your Partner in Productivity</p>
      </div>
      <div class="auth-links">
        <a class="signup-link" href="/auth/sign-up">Sign Up</a>
        <a class="signin-link" href="/auth/sign-in">Sign In</a>
      </div>
    </div>
  </body>
</html>
