<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Task Buddy</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body class="index-body">
  <%- include('./partials/nav.ejs'); %>
  <div class="content-container">
    <div class="text-container">
      <h1 class="main-header">Welcome to Task Buddy</h1>
      <h3 class="subheader">Your Partner in Productivity</h3>
    </div>
  </div>
</body>

</html>